body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 2.5vw;
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
    font-size: 5vw;
}

.autoShow {
    display: flex;
    gap: 100px;
    align-items: center;
    animation: autoShowAnimation;
    animation-timeline: view(70% 0%);
    animation-fill-mode: both;
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translate(0) scale(1);
    }
}

.autoBlur {
    font-size: 10vw;
    animation: autoBlurAnimation;
    animation-timeline: view(10%);
    animation-fill-mode: both;
}

@keyframes autoBlurAnimation {
    from {
        filter: blur(40px);
    }

    to {
        filter: blur(0);
    }
}